{% extends "public/base.html" %}

{% block page_title %}Map{% endblock %}

{% block extra_css %}
{{ super() }}
{% endblock %}

{% block header_breadcrumb %}
<span class="breadcrumb-separator">/</span>
<span class="breadcrumb-current">map</span>
{% endblock %}

{% block content %}
<div class="map-page">
    <div class="map-container">
        <div id="map" data-map-tags="{{ map_tags_list | tojson | forceescape }}"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ super() }}
{% endblock %}
