{% extends "public/base.html" %}

{% block page_title %}Map{% endblock %}

{% block extra_css %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="map-page">
    <header class="map-header">
        <h1 class="map-title">Global Map</h1>
        <p class="map-subtitle">Explore posts by their location tags</p>
    </header>

    <div class="map-container">
        <div id="map" data-map-tags='{{ map_tags_json | safe }}'></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ super() }}
{% endblock %}
